@model WeddingPlanner.Models.AddEventData
@{
    ViewData["Title"] = "Add Event";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <form asp-action="AddEventData" asp-controller="Wedding" method="POST" class="form">
            <div class="form-group">
                <div class="bg-danger">
                    <span asp-validation-for="WedderOne"></span>
                </div>
                <br>
                <label asp-for="WedderOne"></label>
                <input asp-for="WedderOne" class="form-control">
            </div>
            <div class="form-group">
                <div class="bg-danger">
                    <span asp-validation-for="WedderTwo"></span>
                </div>
                <br>
                <label asp-for="WedderTwo"></label>
                <input asp-for="WedderTwo" class="form-control">
            </div>
            <div class="form-group">
                <div class="bg-danger">
                    <span asp-validation-for="EventDate"></span>
                </div>
                <br>
                <label asp-for="EventDate"></label>
                <input asp-for="EventDate" class="form-control">
            </div>
            <div class="form-group">
                <div class="bg-danger">
                    <span asp-validation-for="Address"></span>
                </div>
                <br>
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control">
            </div>
            <input type="submit" class="btn btn-round btn-primary" value="Add Event">
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6 offset-3">
        <a class="btn btn-round btn-danger" asp-area="" asp-controller="Wedding" asp-action="Dashboard">Go Back</a>
    </div>
</div>