<div class="row">
    <div class="col-md-10 offset-1">
        <h1 class="text-center">Welcome to the Wedding Planner @ViewBag.name.FirstName @ViewBag.name.LastName</h1>
        <table class="table table-hover mb-5 mt-5">
            <thead class="thead-danger">
                <tr>
                    <th>Wedding</th>
                    <th>Date</th>
                    <th>Guest</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href=""></a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>